$btn-color: rgba(3, 40, 60, 1);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head-section{
    width: 100%;
    position: relative;
    padding: 0 60px;

    .shahar{    
        width: 55%;
        position: absolute;
        height: 100%;
        top: 0;
        right: -60px;
        z-index: -1;
}
    header{
        height: 69px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
        nav{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            text-transform: uppercase;
            a:first-child{
                display: flex;
                gap: 10px;
            }
            a{
                text-decoration: none;
                color: rgba(1, 13, 20, 1);
                font-size: 16px;
                margin: 20px 15px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
            }
        }
        .link-btn{
            width: 300px;
            display: flex;
            gap: 15px;
            
            button{
                height: 60px;
                text-decoration: none;
                text-transform: uppercase;
                color: rgba(1, 13, 20, 1);
                font-family: 'Montserrat', sans-serif;
                font-size: 18px;
                font-weight: 700;
                border: none;
            }
            .login{
                padding: 19px 15px;
                background: none;
            }
            .getStart{
                padding: 15px 30px;
                background-color: $btn-color;
                color: white;
            }
        }
    }
    .center-head{
    display: flex;
    min-height: 714px;
    position: relative;
        .right{
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            width: 40%;
            h3{
                font-family: 'Montserrat', sans-serif;
                font-size: 19px;
                font-weight: 700;
                color: rgba(8, 105, 158, 1);
            }
            h1{
                font-family: 'Montserrat', sans-serif;
                font-size: 48px;
                font-weight: 600;
                line-height: 62px;
                margin: 10px 0 25px 0;
                color: rgba(3, 40, 60, 1);
                span{
                    font-weight: 700; 
                    color:rgba(255, 98, 0, 1);
                }
            }
            .btns{
                display: flex;
                button{
                    border: none;
                    text-transform: uppercase;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                }
                button:first-child{
                    padding: 15px 82.5px;
                    background-color: $btn-color;
                    color: white;
                }
                button:last-child{
                    padding: 15px 20px;
                    background: none;
                    color: $btn-color;
                }
            }
        }
      
    }
  
}
.box-section{
    padding: 0 75px;

    .totals{
        width: 100%;
        display: flex;
        padding: 50px 0;
        justify-content: center;
        div{
            display: block;
            text-align: center;
            h2{
                font-family: 'Montserrat', sans-serif;
                font-size: 24px;
                font-weight: 400;
                line-height: 29px;
                color: $btn-color;
            }
        }
        .chiziq{
            width: 100px;
            &::before{
                content: '';
                position: absolute;
                border: 2px solid black;
                height: 49px;
            }
        }
    }
    .current{
        padding-top: 50px;
        .name-current{  
            text-align: center;
            margin-bottom: 50px;
            h1{
                font-family: 'Montserrat', sans-serif;
                font-size: 48px;
                font-weight: 700;
                line-height: 59px;
                color: $btn-color;
            }
            p{
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;

            }
        }
        .center-box{
            display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            gap: 30px;
            .boxs{
                width:300px;
                height: 379px;
                .top{
                    height: 43%;
                    background-color: gray; 
                }
                .bottom{
                    height: 60%;
                    .bottom-center{
                        padding: 15px 15px 0 15px;
                        div{
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            h2{
                                font-family: 'Montserrat', sans-serif;
                                font-weight: 700;
                                font-size: 20px;
                            }
                        }
                        p{
                            margin: 15px 0;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                        }
                    }
             
                    .btn-hover{
                        width: 100%;
                        height: 60px;
                        position: relative;
         
                        button{
                            width: 20%;
                            height: 100%;
                            border: none;
                            right: 0;
                            position: absolute;
                            overflow: hidden;
                            transition: 0.3s;
                            background: rgba(214, 239, 253, 1);
                            &:hover{
                                width: 100%;
                                .btn-strelka{
                                    transform: rotate(0);
                                }
                            }

                            &::after{
                                content: '';
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 60px;
                                height: 60px;
                                background: rgba(214, 239, 253, 1);
                                
                            }
                            span{
                                width: 91px;
                                font-family: 'Montserrat', sans-serif;
                                font-size: 16px;
                                position: absolute;
                                z-index: 10;
                                top: 23px;
                                right: 59px;

                            }
                        }
                        .btn-strelka{
                            position: absolute;
                            transition: 0.3s;
                            top: 20px;
                            right: 18px;
                            width: 24px;
                            height: 24px;
                            transform: rotate(-45deg);
                            z-index: 10;
                        }
                    }
                }

            }
        }
       
    }
    span{
        display: block;
        text-align: center;
        margin: 50px 0 92px 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0.30000001192092896px;

    }
}
.about-section{
    .ourVision{
        height: 299px;
        background-color: $btn-color;
        padding: 80px 270px;
        text-align: center;
        color: white;
        h1{
            font-family: 'Montserrat', sans-serif;
            font-size: 48px;
            font-weight: 700;
            line-height: 59px;
        }
        p{
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
        }
    }
    .about-we{
        display: flex;
        align-items: center;
        min-height: 918px;
        justify-content: space-between;
        padding: 0 0 0 60px;
        overflow: hidden;
        position: relative;
        div{
            width: 39%;
            h2{
                font-family: 'Montserrat', sans-serif;
                font-size: 48px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: 0.10000000149011612px;      
                color: $btn-color;  
                text-transform: capitalize;
            }
            p{
                margin-top: 15px;
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                font-weight: 300;
                line-height: 22px;
                letter-spacing: 0.30000001192092896px;
            }
        }
        img{
            position: absolute;
            right: 0;
        }
    }
    .weDo{
        padding: 80px 76px;
        min-height: 485px;
        text-align: center;
        background: $btn-color;
        color: #fff;
        h1{
            font-family: 'Montserrat', sans-serif;
            font-size: 48px;
            font-weight: 700;
            line-height: 59px;       
        }
        p{
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 20px;  
            margin: 15px 0 60px 0;
        }
        div{
            display: flex;
            justify-content: space-between;
            .weDo-boxs{
                display: inline-block;
                text-align: start;
                color: #000;
                background: #fff;
                width: 380px;
                height: 171px;
                border-top: 6px solid rgba(255, 98, 0, 1);
                padding: 38px 35px;
                h2{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24px;
                }
                p{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 22px;
                    letter-spacing: 0.30000001192092896px;

                }
            }
        }
    }
}
.about-section2{
    .security{
        padding: 189px 0 230px 80px;
        display: flex;
        position: relative;
        div{
            width: 40%;
                h2{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 59px;
                }
                p{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 22px;
                    padding: 15px 0;
                }
                button{
                    width: 266px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    height: 52px;
                    padding: 15px, 30px, 15px, 30px;
                    background: rgba(255, 98, 0, 1);
                    border: none;
                    color: white;
                    text-transform: uppercase;
                }
        }
        img{
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .benefits{
        min-height:  654px;
        background: $btn-color;
        position: relative;
        color: #fff;
        padding: 80px 76px;
        h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 48px;
            font-weight: 700;
            line-height: 59px;     
        }
        p{
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px; 
            margin: 15px 0 80px 0; 
        }
        .shadow{
            width: 629px;
            height: 392px;
            background: rgba(8, 105, 158, 0.4);
            opacity: 0.5;
            filter: blur(100px);
            position: absolute;
            left: -94px;
        }
        .benefit-container{
            display: flex;
            justify-content: space-between;
        }
        .benefit-boxs{
            width: 300px;
            height: 300px;
            padding: 35px 30px;
            border-top: 6px solid rgba(255, 98, 0, 1);
            background: #fff;
            color: #000;
            h3{
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                margin: 35px 0 8px 0;
            }
            p{
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                font-weight: 300;
                line-height: 22px;


            }
        }
    }
}